<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi From MPI,</p>
        <p>Finish your registration</p>
        <p> Please, paste the OTP below to reset your password</p>
        <p>OTP: {{otp}}</p>
    </body>
</html>